In [14]:
import numpy as np
import pandas as pd
import warnings
import matplotlib.pyplot as plt

warnings.filterwarnings('ignore')

In [3]:
ipl_df = pd.read_csv('csv_data/IPL_Matches_2008_2022.csv')
print(ipl_df.shape)
ipl_df.head()

(950, 20)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

Royal Challengers Bangalore    126
Mumbai Indians                 112
Chennai Super Kings            111
Kolkata Knight Riders          105
Kings XI Punjab                 92
Rajasthan Royals                89
Delhi Daredevils                85
Sunrisers Hyderabad             69
Deccan Chargers                 39
Delhi Capitals                  29
Pune Warriors                   23
Punjab Kings                    18
Gujarat Lions                   16
Lucknow Super Giants             8
Gujarat Titans                   7
Rising Pune Supergiant           7
Rising Pune Supergiants          7
Kochi Tuskers Kerala             7
Name: Team1, dtype: int64

In [6]:
ipl_df['Team2'].value_counts()

Mumbai Indians                 119
Kolkata Knight Riders          118
Rajasthan Royals               103
Royal Challengers Bangalore    100
Kings XI Punjab                 98
Chennai Super Kings             97
Sunrisers Hyderabad             83
Delhi Daredevils                76
Deccan Chargers                 36
Delhi Capitals                  34
Pune Warriors                   23
Gujarat Lions                   14
Punjab Kings                    10
Gujarat Titans                   9
Rising Pune Supergiant           9
Rising Pune Supergiants          7
Lucknow Super Giants             7
Kochi Tuskers Kerala             7
Name: Team2, dtype: int64

# Create a new table showing the following team statistics

![](images/team_stats_ipl.png)

In [7]:
teams = ['Mumbai Indians', 'Kolkata Knight Riders', 'Rajasthan Royals',
         'Royal Challengers Bangalore','Kings XI Punjab',
         'Chennai Super Kings','Sunrisers Hyderabad','Delhi Capitals']

In [8]:
top8_ipl_teams = ipl_df.loc[(ipl_df['Team1'].isin(teams)) &
                           (ipl_df['Team2'].isin(teams))]
print(top8_ipl_teams.shape)

(577, 20)

In [10]:
teams_dict = {'Mumbai Indians' : "MI", 'Kolkata Knight Riders': "KKR", 
              'Rajasthan Royals': "RR", 'Royal Challengers Bangalore': 'RCB',
              'Kings XI Punjab' : "KXIP", 'Chennai Super Kings' : "CSK",
              'Sunrisers Hyderabad' : "SRH",'Delhi Capitals': "DC"}

In [17]:
top8_ipl_teams[['Team1', 'Team2', 'TossWinner', 'WinningTeam']] = \
top8_ipl_teams[['Team1', 'Team2', 'TossWinner', 'WinningTeam']].replace(teams_dict)

In [19]:
top8_ipl_teams['Match'] = top8_ipl_teams['Team1'] + " " + "Vs" + \
" " + top8_ipl_teams['Team2']

In [30]:
team_stats_dict = {}
for row in top8_ipl_teams.values:
    teams = row[-1].split('Vs')
    for team in teams:
        team = team.strip()
        if team not in team_stats_dict:
            team_stats_dict[team] = 1
        else:
            team_stats_dict[team] += 1

In [31]:
team_stats_dict

{'RCB': 170,
 'RR': 150,
 'DC': 56,
 'MI': 176,
 'CSK': 165,
 'SRH': 122,
 'KKR': 172,
 'KXIP': 143}

In [37]:
team_stats_df = top8_ipl_teams['Team1'].value_counts() + \
top8_ipl_teams['Team2'].value_counts()
team_stats_df = team_stats_df.to_frame()

In [39]:
team_stats_df.reset_index(inplace = True)
team_stats_df.columns = ['Teams', 'Match Played']

In [40]:
team_stats_df.head()

  Teams  Match Played
0   CSK           165
1    DC            56
2   KKR           172
3  KXIP           143
4    MI           176

In [49]:
team_win_stats = top8_ipl_teams['WinningTeam'].value_counts().to_frame().reset_index()
team_win_stats.columns = ['Teams', 'Matches Won']
team_win_stats.head()

  Teams  Matches Won
0    MI          103
1   CSK           97
2   KKR           84
3   RCB           74
4    RR           69

## Merging team stats and team_win stats dataset

In [50]:
team_stats = pd.merge(team_stats_df, team_win_stats,
                     how = 'inner', on = "Teams")
team_stats.head()

  Teams  Match Played  Matches Won
0   CSK           165           97
1    DC            56           32
2   KKR           172           84
3  KXIP           143           60
4    MI           176          103

In [54]:
toss_stats = top8_ipl_teams['TossWinner'].value_counts().to_frame().reset_index()
toss_stats.columns = ['Teams', 'Tosses Won']
toss_stats.head()

  Teams  Tosses Won
0    MI         100
1   CSK          86
2   KKR          83
3    RR          79
4   RCB          76

## Merging toss_stats with team_stats datasets

In [55]:
team_stats = pd.merge(team_stats, toss_stats, how = 'inner', 
                     on = 'Teams')
team_stats.head()

  Teams  Match Played  Matches Won  Tosses Won
0   CSK           165           97          86
1    DC            56           32          32
2   KKR           172           84          83
3  KXIP           143           60          63
4    MI           176          103         100

In [64]:
top8_ipl_teams['WonBy'].value_counts()

Wickets      310
Runs         253
SuperOver     12
NoResults      2
Name: WonBy, dtype: int64

In [67]:
top8_ipl_teams.groupby('Team1')['WonBy'].value_counts()

Team1  WonBy
CSK    Runs         43
       Wickets      42
       SuperOver     1
DC     Wickets      13
       Runs         12
       SuperOver     2
KKR    Wickets      50
       Runs         31
       SuperOver     4
KXIP   Runs         36
       Wickets      35
MI     Wickets      43
       Runs         41
       SuperOver     2
RCB    Wickets      53
       Runs         40
       NoResults     2
       SuperOver     1
RR     Wickets      41
       Runs         27
       SuperOver     1
SRH    Wickets      33
       Runs         23
       SuperOver     1
Name: WonBy, dtype: int64

In [63]:
# top8_ipl_teams.loc[top8_ipl_teams['method']=="D/L"][['WonBy', "TossWinner",
#                                                    "TossDecision"]]

       WonBy TossWinner TossDecision
296  Wickets       KXIP        field
316  Wickets        KKR        field
383     Runs       KXIP        field
441  Wickets        SRH          bat
472     Runs        KKR        field
717  Wickets        RCB        field
728     Runs        CSK          bat
860     Runs        CSK          bat
886     Runs        KKR        field
908     Runs        KKR          bat

# Perform an EDA to answer the following questions:

<li><b>Which team has won most number of matches ?</b></li>
<li><b>Which player has won the player of the match maximum number of times?</b></li>
<li><b>Which team has won most player of the match awards?</b></li>
<li><b>Which venue is the most popular venue of the IPL?</b></li>
<li><b>How many matches are won batting first?</b></li>
<li><b>How many matches are won batting second?</b></li>

In [60]:
top8_ipl_teams.columns

Index(['ID', 'City', 'Date', 'Season', 'MatchNumber', 'Team1', 'Team2',
       'Venue', 'TossWinner', 'TossDecision', 'SuperOver', 'WinningTeam',
       'WonBy', 'Margin', 'method', 'Player_of_Match', 'Team1Players',
       'Team2Players', 'Umpire1', 'Umpire2', 'Match'],
      dtype='object')