****Python has two different types of loop commands:****
<ol>
    <li>for loops</li>
    <li>while loops</li>
</ol>

#### For Loops
<li>In Python, the for loop is used to run a block of code for a certain number of times.</li>
<li>A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).</li>
<li>We call this technique a <b>loop</b> because we are <b>looping</b> over each element in the list and performing an action on each element.</li> 
<li>Because we always start with <b>for</b>, we call this technique a <b>for loop.</b></li>

![](for_loop_script.png)

#### Why For Loops 
<li>We can also retrieve each element in lists, and perform operation but this method will not scale well to a large dataset</li>
<li>Let's say at first we have to repeat this process for five times. We can rely on this method since repeating the code for five times is not that difficult.</li>
<li>But if we have to repeat the same process for 1000+ times then relying on this method is a waste of time and the programmer has to write the same syntax with very few differences 1000+ times.</li>
<li>So, in such scenario, <b>for loops</b> can save programmer's time as well as energy. Also it is the smartest way of dealing with problems.</li>

In [1]:
student_1 = ['Ram', 'male',23, 'B.C.A', 'Seventh Semester', 78.2]
student_2 = ['Shyam','male',21,'B.C.A', 'Fifth Semester',67.5]
student_3 = ['Abhishek','male',22, 'B.Sc.Cs.It', 'Seventh Semester',82.4]
student_4 = ['Mahima','female',20, 'B.Sc.Cs.It', 'Fifth Semester',87.3]
student_5 = ['Sanjana','female',22, 'B.Sc.Cs.It', 'Seventh Semester',69.8]
student_6 = ['Prabhat', 'male',23, 'B.Sc.Cs.It', 'Seventh Semester', 80.2]
student_7 = ['Ashmita','female',21,'B.Sc.Cs.It', 'Fifth Semester',81.5]
student_8 = ['Shanti','female',22, 'B.Sc.Cs.It', 'Fifth Semester',72.4]
student_9 = ['Himal','male',20, 'B.C,A', 'Fifth Semester',78.3]
student_10 = ['Rabina','female',22, 'B.I.M', 'Seventh Semester',75.8]
student_11 = ['Kamal', 'male',23, 'B.I.M', 'Fifth Semester', 80.2]
student_12= ['Bhawana','female',21,'B.I.M', 'Third Semester',81.5]
student_13 = ['Sunil','male',22, 'B.I.M', 'Fourth Semester',72.4]
student_14= ['Nirisha','female',20, 'B.I.M', 'Fourth Semester',78.3]
student_15 = ['Sushmita','female',22, 'B.I.M', 'Third Semester',75.8]

student_datasets = [student_1, student_2, student_3, student_4, student_5,
                    student_6, student_7, student_8, student_9, student_10,
                   student_11, student_12, student_13, student_14,student_15]

#### Question 

**From the <b>student_datasets</b>, calculate the average percentage scored by these students.**

In [2]:
total = 0
length = 0
for student in student_datasets:
    score = student[-1]
    total += score
    length+=1
avg_score = total/length
print(avg_score)

77.44

**From the <b>student_datasets</b>, calculate the average percentage scored by these students.**

In [3]:
total = 0
length = 0
for student in student_datasets:
    age = student[2]
    total += age
    length+=1
avg_age = total/length
print(avg_age)

21.6

#### Break Statements In For Loop
<li>With the break statement we can stop the for loop even if the condition is true.</li>

**From the <b>student_datasets</b>, calculate the average percentage scored by last five students.**

In [4]:
total = 0
length = len(student_datasets)
for student in student_datasets:
    score = student[-1]
    total += score
    length -= 1
    if length == 10:
        break

In [5]:
print(total)

385.2

In [6]:
print(length)

10

#### For Loops WIth List

<li>We can iterate over the items in a list using <b>for loops.</b></li>

In [7]:
a = [1,2,3,4,5]

In [8]:
for items in a:
    print(items)

1
2
3
4
5

In [9]:
for items in a:
    print(items+ 1)

2
3
4
5
6

#### Take the given list and create a new list which represent the square value of the items in a list

In [10]:
num = [1,2,3,5,7,9]

In [11]:
square = []
for i in num:
    square.append(i**2)
print(square)

[1, 4, 9, 25, 49, 81]

#### Range

In [12]:
for i in range(0,5,2):
    if i ==2:
        print(i)

2

#### Use range to populate the square of even numbers upto 20 in a new list.

In [13]:
list_a=[]
for i in range(0,20):
    if i%2==0:
        list_a.append(i**2)
print(list_a)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [14]:
list_a=[]
for i in range(0,20,2):
    list_a.append(i**2)
print(list_a)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

#### Python List Comprehension Techniques

In [15]:
a = [1,2,3,4,5]
a = [item**2 for item in a]

In [16]:
b = [12,14,13,15,21,16,18,20]
c = [value+1 for value in b if value%2==1]
d = [value for value in b if value%2==0]

In [17]:
print(c)
print(d)

[14, 16, 22]
[12, 14, 16, 18, 20]

#### For Loops With Dictionary

<li>We can iterate over dictionary items using for loop in dict.items()</li>
<li>The dictionary keys can be iterated using dict.keys()</li>
<li>Similarly, the dictionary values can also be iterated using dict.values().</li>

In [18]:
dict1 = {"name": "prabhat", "age": 23, "location": "manigram", "level": "bachelor",
        "faculty": "B.Sc.Cs.It", "weight": 70, "height": "5ft 5inch"}

In [19]:
for key, val in dict1.items():
    print(val)

prabhat
23
manigram
bachelor
B.Sc.Cs.It
70
5ft 5inch

In [20]:
list(dict1.keys())

['name', 'age', 'location', 'level', 'faculty', 'weight', 'height']

In [21]:
list(dict1.values())

['prabhat', 23, 'manigram', 'bachelor', 'B.Sc.Cs.It', 70, '5ft 5inch']

In [23]:
type(dict1.keys())

dict_keys

#### For Loops WIth Set

In [24]:
a = {1,2,3,4,5}

In [25]:
for item in a:
    print(item)

1
2
3
4
5

In [26]:
for i in range(4,6):
    a.add(i)

In [27]:
a

{1, 2, 3, 4, 5}

####  For Loops With A Tuple

In [28]:
tuple1 = (1, 2, 3, 4, 5)

In [29]:
for item in tuple1:
    print(item)

1
2
3
4
5

In [30]:
list_to_tuple1 = list(tuple1)
list_to_tuple1[-1] = 6
final_tuple = tuple(list_to_tuple1)
print(final_tuple)

(1, 2, 3, 4, 6)

In [31]:
tuple1 = (4, 5, 6,7,8)

In [34]:
for i in range(1, 4):
    tuple1 = tuple1 + (i,)

In [35]:
tuple1

(4, 5, 6, 7, 8, 1, 2, 3)

#### While Loop
<li>With the while loop we can execute a set of statements as long as a condition is true.</li>
<li>The while loop statement stops running once the condition is false.</li>
<li>With the <b>break</b> statement we can stop the loop even if the while condition is true.</li>

#### While loop Syntax

<code>
while (condition):
    //statement
</code>

#### Python Do-while Loop
<li>Python doesn't have do-while loop. But we can create a program like this.</li>
<li>The do while loop is used to check condition after executing the statement. It is like while loop but it is executed at least once.</li>
<li>The <b>do while loop</b> can be created by using while, if and break statements in python.</li>

#### Do-while loop Syntax

<code>
do {  
     //statement  
} while (condition);  
</code>

In [ ]:
i = 0
while True:
    i += 1
    print(i)
    if i> 5:
        break

#### Python Conditions and If statements

<li>Python supports the usual logical conditions from mathematics:</li>
<ol>
    <li>Equals: a == b</li>
    <li>Not Equals: a != b</li>
    <li>Less than: a < b</li>
    <li>Less than or equal to: a <= b</li>
    <li>Greater than: a > b</li>
    <li>Greater than or equal to: a >= b</li>
    <li>These conditions can be used in several ways, most commonly in "if statements" and loops.</li>
</ol>

<li>An "if statement" is written by using the if keyword.</li>

#### Booleans

<li>When we use the == operator to determine if two values are equal, the output will always be True or False.</li>
<li>Booleans are binary output variables if condition satisfies, it will give <b>True</b> and if condition is not satisfied it gives <b>False.</b></li>

#### Use Of if Statements

<li>We use if statement incase we only need to valid whether the statement is true and have to perform operations only when it's true.</li>

**Syntax of if statements**

<code>if boolean_expression:
    statement(s)
</code>

In [ ]:
student_1 = ['Ram', 'male',23, 'B.C.A', 'Seventh Semester', 78.2]
student_2 = ['Shyam','male',21,'B.C.A', 'Fifth Semester',67.5]
student_3 = ['Abhishek','male',22, 'B.Sc.Cs.It', 'Seventh Semester',82.4]
student_4 = ['Mahima','female',20, 'B.Sc.Cs.It', 'Fifth Semester',87.3]
student_5 = ['Sanjana','female',22, 'B.Sc.Cs.It', 'Seventh Semester',69.8]
student_6 = ['Prabhat', 'male',23, 'B.Sc.Cs.It', 'Seventh Semester', 80.2]
student_7 = ['Ashmita','female',21,'B.Sc.Cs.It', 'Fifth Semester',81.5]
student_8 = ['Shanti','female',22, 'B.Sc.Cs.It', 'Fifth Semester',72.4]
student_9 = ['Himal','male',20, 'B.C,A', 'Fifth Semester',78.3]
student_10 = ['Rabina','female',22, 'B.I.M', 'Seventh Semester',75.8]
student_11 = ['Kamal', 'male',23, 'B.I.M', 'Fifth Semester', 80.2]
student_12= ['Bhawana','female',21,'B.I.M', 'Third Semester',81.5]
student_13 = ['Sunil','male',22, 'B.I.M', 'Fourth Semester',72.4]
student_14= ['Nirisha','female',20, 'B.I.M', 'Fourth Semester',78.3]
student_15 = ['Sushmita','female',22, 'B.I.M', 'Third Semester',75.8]

student_datasets = [student_1, student_2, student_3, student_4, student_5,
                    student_6, student_7, student_8, student_9, student_10,
                   student_11, student_12, student_13, student_14,student_15]

#### Use of Shorthand if statements

<li>If you have only one statement to execute, you can put it on the same line as the if statement.</li>

#### Question
**Correct the following code in such a way that it will only print the statement which is true.**


<code>
if True:
    print("2 + 2 == 5")
    print("lemons are sour")
if True:
    print("the sky is blue")
    print("5 >= 3")  
if True:
    print("spheres have corners")
    print("7 / 5 == 2")
   
</code>

In [ ]:
if True:
    print("2 + 2 == 5")
    print("lemons are sour")

if True:
    print("the sky is blue")
    print("5 >= 3")
    
if True:
    print("spheres have corners")
    print("7 / 5 == 2")

#### Use of if-else statements
<li>We need to check the validity of the statements and we care about both possibile conditions then we use if-else statement.</li>
<li>if-else statement only support binary statements or binary conditions.</li>

#### Syntax of if-else statements
<code>
if expression:
   statement(s)
else:
   statement(s)
</code>

In [ ]:
student_1 = ['Ram', 'male',23, 'B.C.A', 'Seventh Semester', 78.2]
student_2 = ['Shyam','male',21,'B.C.A', 'Fifth Semester',67.5]
student_3 = ['Abhishek','male',22, 'B.Sc.Cs.It', 'Seventh Semester',82.4]
student_4 = ['Mahima','female',20, 'B.Sc.Cs.It', 'Fifth Semester',87.3]
student_5 = ['Sanjana','female',22, 'B.Sc.Cs.It', 'Seventh Semester',69.8]
student_6 = ['Prabhat', 'male',23, 'B.Sc.Cs.It', 'Seventh Semester', 80.2]
student_7 = ['Ashmita','female',21,'B.Sc.Cs.It', 'Fifth Semester',81.5]
student_8 = ['Shanti','female',22, 'B.Sc.Cs.It', 'Fifth Semester',72.4]
student_9 = ['Himal','male',20, 'B.C,A', 'Fifth Semester',78.3]
student_10 = ['Rabina','female',22, 'B.I.M', 'Seventh Semester',75.8]
student_11 = ['Kamal', 'male',23, 'B.I.M', 'Fifth Semester', 80.2]
student_12= ['Bhawana','female',21,'B.I.M', 'Third Semester',81.5]
student_13 = ['Sunil','male',22, 'B.I.M', 'Fourth Semester',72.4]
student_14= ['Nirisha','female',20, 'B.I.M', 'Fourth Semester',78.3]
student_15 = ['Sushmita','female',22, 'B.I.M', 'Third Semester',75.8]

student_datasets = [student_1, student_2, student_3, student_4, student_5,
                    student_6, student_7, student_8, student_9, student_10,
                   student_11, student_12, student_13, student_14,student_15]

#### Short-hand if-else statements
<li>We can use if-else condition as one line statement in short-hand if-else statements.</li>
<li>If you have only one statement to execute, one for if, and one for else, you can put it all on the same line.</li>

#### Use of if-elif-else Statements

<li>If we have greater than two possible conditions for any given statement, then under such scenario, we use if-elif-else statements.</li>
<li>A perfect example for using such conditional statements is <b>"Checking whether a number is greater than, less than or equal to another given number"</b>.</li>

#### Syntax Of If-elif-else statements

<code>
if expression1:
   statement(s)
elif expression2:
   statement(s)
elif expression3:
   statement(s)
else:
   statement(s) 
</code>

In [ ]:
student_1 = ['Ram', 'male',23, 'B.C.A', 'Seventh Semester', 78.2]
student_2 = ['Shyam','male',21,'B.C.A', 'Fifth Semester',67.5]
student_3 = ['Abhishek','male',22, 'B.Sc.Cs.It', 'Seventh Semester',82.4]
student_4 = ['Mahima','female',20, 'B.Sc.Cs.It', 'Fifth Semester',87.3]
student_5 = ['Sanjana','female',22, 'B.Sc.Cs.It', 'Seventh Semester',69.8]
student_6 = ['Prabhat', 'male',23, 'B.Sc.Cs.It', 'Seventh Semester', 80.2]
student_7 = ['Ashmita','female',21,'B.Sc.Cs.It', 'Fifth Semester',81.5]
student_8 = ['Shanti','female',22, 'B.Sc.Cs.It', 'Fifth Semester',72.4]
student_9 = ['Himal','male',20, 'B.C,A', 'Fifth Semester',78.3]
student_10 = ['Rabina','female',22, 'B.I.M', 'Seventh Semester',75.8]
student_11 = ['Kamal', 'male',23, 'B.I.M', 'Fifth Semester', 80.2]
student_12= ['Bhawana','female',21,'B.I.M', 'Third Semester',81.5]
student_13 = ['Sunil','male',22, 'B.I.M', 'Fourth Semester',72.4]
student_14= ['Nirisha','female',20, 'B.I.M', 'Fourth Semester',78.3]
student_15 = ['Sushmita','female',22, 'B.I.M', 'Third Semester',75.8]

student_datasets = [student_1, student_2, student_3, student_4, student_5,
                    student_6, student_7, student_8, student_9, student_10,
                   student_11, student_12, student_13, student_14,student_15]

#### Dictionaries & Frequency Tables

<li>In this lesson on dictionaries and frequency tables, we'll learn how to check for dictionary membership, update dictionary values, and count values using dictionaries.</li>

**Checking membership in a dictionary**

#### Updating Dictionary Values

#### Question
**The content_ratings dictionary is corrupt and needs to be fixed. The corrupt version of content_ratings is provided in the code editor.**
<code>
content_ratings = {'4+': 622, '12+': '1155', '9+': 987, '17+': 4433}
</code>
<ol>
<li>Swap the values stored in the 4+ and 17+ keys.</li>
<li>Assign the value stored in 4+ to a temporary variable called temp.</li>
<li>Assign the value stored in 17+ to 4+.</li>
<li>Assign the value stored in the temporary variable to 17+.</li>
<li>Convert the value stored in 12+ into an integer.</li>
<li>Print the content_ratings dictionary.</li>
</ol>

#### Counting In A Dictionary
<li>We can count the number of repetitions of a particular value in list by using a dictionary.</li>