# Working With Datetimes


<li>Working with dates and times is a vital skill because data often includes date/time information like the following:</li>
<ol>
    <li>Weather data with dates and/or times</li>
    <li>Computer logs with the timestamp for each event</li>
    <li>Sales data with date/time range</li>
</li>

<li>Python has three standard modules for working with dates and times:</li>
<ol>
    <li>The <b>calendar</b> module</li>
    <li>The <b>time</b> module</li>
    <li>The <b>datetime</b> module</li>
</ol>

<li>The datetime module contains a number of classes, including the following:</li>
<ol>
    <li><b>datetime.datetime:</b> for working with date and time data</li>
    <li><b>datetime.time:</b> for working with time data only</li>
    <li><b>datetime.timedelta:</b> for representing time periods</li>
</li>

<li>The datetime.datetime class is the most commonly used class from the datetime module, and it has attributes and methods that work with data containing both the date and the time.</li>
<code>
    datetime.datetime(year, month, day, hour=0, minute=0, second=0)
</code>
<li>This indicates that the year, month, and day arguments are necessary, and the time arguments are optional and set to the equivalent of midnight if omitted.</li>
<li>The hour parameter is in 24 hour time, so 11 is 11 a.m., 12 is 12 p.m., 13 is 1 p.m., etc</li>

#### Question:

<li>Import the datetime.datetime class using the alias dt.</li>
<li>Instantiate a datetime object representing midnight on June 16, 1911. Assign the object to the variable name ibm_founded.</li>
<li>Instantiate a datetime object representing 8:17 p.m. on July 20, 1969. Assign the object to the variable name man_on_moon.</li>

####  Using Strptime to Parse Strings as Dates

<li>We all know that we can represent date and time with the help of string as well.</li>

<li>"December 23, 09:55, 2022" is the string that can represent time.</li>
<li>But we can convert this string object into a date time object. This process of converting strings into a datetime object is also known as string parsing.</li>

<li>Python has strptime() method which parses a string representing a time according to a format. The return value is a datetime object.</li>



**Following is the syntax for strptime() method.**
<code>
time.strptime(string, format)
Parameters
string − This is the time in string format which would be parsed based on the given format.

format − This is the directive which would be used to parse the given string.
</code>

In [40]:
months = ["January", "February", "March", "April", "May", "June",
         "July", "August", "September", "October", "November", "December"]

![](images/datetime.png)

#### Question

<li>Create a string date_format that specifies the format of the appt_start_date column:</li>
<li>The format of the app_start_date column is {month}/{day}/{two digit year} {hour 24hr time}:{minute}.</li>
<li>Substitute each of the values inside braces with the appropriate strftime code from the table above.</li>
<li>Read the appointment_schedule.csv file using csv reader and iterate over each row in the list of lists.</li>
<li>Assign the appt_start_date column, found at index 2 of each row, to a variable.</li>
<li>Use the datetime.strptime() constructor to convert the variable from a string to a datetime object, using the date_format string you created earlier.</li>
<li>Assign the datetime object back to index 2 of the row.</li>

#### Using strftime to parse datetime objects as strings

<li>The datetime class has a number of attributes that simplify retrieving the various parts that make up the date stored within the object:</li>
<ol>
    <li>datetime.day: the day of the month</li>
    <li>datetime.month: the month of the year</li>
    <li>datetime.year: the year</li>
    <li>datetime.hour: the hour of the day</li>
    <li>datetime.minute: the minute of the hour</li>
</ol>

<li>If we wanted to create string representation of a datetime object representing the date like December 24th, 1984 in the form day/month/year, we could use those attributes to extract the values and then insert them into a string.</li>

<li>datetime class has a datetime.strftime() method that will return a string representation of the date using the strftime syntax.</li>

**It's easy to confuse strptime and strftime. Here is an easy way to remember which is which:**

<li>strptime >> str-p-time >> string parse time</li>
<li>strftime >> str-f-time >> string format time</li>
<li>With the strftime() method, we can use %d, %m, and %Y to represent the day, month, and year.</li>

#### Question
<li>Initialize an empty dictionary: visitors_per_month.</li>
<li>Iterate over the rows in the appointment_dataset which is list of lists.</li>
<li>In each iteration, do the following:</li>
<ol>
    <li>Assign the datetime object from the appt_start_date column (index 2) to a variable.</li>
     <li>Call the datetime.strftime() method on the appt_start_date object to create a string in the format "January,1901.</li>
    <li>The format code for the name of the month is %B.</li>
    <li>The format code for a four-digit year is %Y.</li>
    <li>If the string is not a key in visitors_per_month, add it as a key with a value of 1. Otherwise, add 1 to the existing value for that key.</li>
</ol>

#### The Time Class

<li>Previously we have used datetime.datetime class to work with date and times but if we only need to work on time specifically, we have another class that we can use i.e. datetime.time class.</li>

<li>Where the datetime class can hold values for dates and times, the time class holds only time data: hours, minutes, seconds, and microseconds.</li>

**The syntax to instantiate a time object is as follows:**
<code>
datetime.time(hour=0, minute=0, second=0, microsecond=0)
</code>
<li>They have attributes like time.hour to work with hour, time.minute to work with minutes, time.second to represent time in second and time.microsecond to represent time in microseconds.</li>

#### Question

<li>Instantiate an empty appt_times list.</li>
<li>Iterate over each row in the appointment_datasets list of lists. For each iteration, do the following:</li>
<ol>
    <li>Assign the datetime object stored at index value 2 to a variable.</li>
    <li>Create a time object from the datetime object.</li>
    <li>Append the time object to the appt_times list.</li>
</ol>

#### Comparing Date & Time Objects

<li>A useful feature of time objects is that they support comparisons. We can test if one time is greater — or later — than another.</li>
<li>Like we can compare numeric and float values, we can also compare date objects and time objects.</li>
<li>If we wanted to compare between two dates, the comparisions must go with datetime.datetime objects vs datetime.datetime objects or datetime.date objects vs datetime.date objects.</li>
<li>Similarly, if we wanted to compare between two times, the comparision must go with datetime.time objects vs datetime.time objects.</li>
<li>We can use greater than or less than operator to compare two datetime objects.</li>
<li>Because these comparison operations are supported, we can also use Python built-in functions like min() and max().</li>

#### Question:

<li>Use the appt_times list and find out the maximum and minimum appointment times from the given list.</li>

#### Calculations with Dates and Times

<li>Just like time objects, datetime objects support comparison operators like > and <.</li>
<li>Let's see whether it supports mathematical operators like - and + to perform addition and subtraction operations.</li>

<li>We cannot use + operator to add two different datetime objects but we can use - operator to subtract the two datetime objects.</li>
<li>When we check the type of that time difference between two datetime objects, the resulting object is a datetime.timedelta object.</li>
<li>We can create datetime.timedelta object and then add two datetime objects and similarly, we can also subtract no of hours or no of days using timedelta objects.</li>
<li>We observed that we can create an object of the timedelta class using the - operator, but we can also instantiate a timedelta class directly. Let's look at the syntax to do this:</li>
<code>
datetime.timedelta(days=0, seconds=0, microseconds=0,
                   milliseconds=0, minutes=0, hours=0, weeks=0)

</code>

#### Questions

<li>Calculate the time between dt_2 and dt_1, and assign the result to answer_1.</li>
<li>Add 56 days to dt_3, and assign the result to answer_2.</li>
<li>Subtract 3600 seconds from dt_4, and assign the result to answer_3</li>

In [88]:
from datetime import datetime

In [89]:
dt_1 = datetime(1981, 1, 31)
dt_2 = datetime(1984, 6, 28)
dt_3 = datetime(2016, 5, 24)
dt_4 = datetime(2001, 1, 1, 8, 24, 13)